# 7章　データのクリーニングと前処理

## 7.1 欠損値の取り扱い

In [1]:
import pandas as pd
import numpy as np
from numpy import nan as NA
import re

In [8]:
string_data = pd.Series(["aardvark", "artichoke", np.nan, "avocdo"])

In [9]:
string_data

0     aardvark
1    artichoke
2          NaN
3       avocdo
dtype: object

In [11]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [12]:
string_data[0] = None

In [13]:
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

### 7.1.1 欠損値を削除する

In [15]:
data = pd.Series([1, NA, 3.5, NA, 7])

In [16]:
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [17]:
data[data.notnull()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [18]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA],
                                        [NA, NA, NA], [NA, 6.5, 3.]])

In [19]:
cleaned = data.dropna()

In [20]:
data

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [21]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [22]:
data.dropna(how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [23]:
data[4] = NA

In [24]:
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [37]:
data.dropna(axis=1, how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [38]:
df = pd.DataFrame(np.random.randn(7, 3))

In [41]:
###
df

          0         1         2
0 -1.100212 -1.213645  0.160995
1 -0.804338 -1.264145  0.032031
2 -0.658380  0.598036 -0.040311
3 -0.353601  1.259222 -0.081661
4 -0.281597 -1.543633  0.630917
5 -1.177526 -0.494019 -0.719121
6  0.462376 -0.411072 -1.876150

In [42]:
df.iloc[:4, 1] = NA

In [43]:
df.iloc[:2, 2] = NA

In [44]:
df

          0         1         2
0 -1.100212       NaN       NaN
1 -0.804338       NaN       NaN
2 -0.658380       NaN -0.040311
3 -0.353601       NaN -0.081661
4 -0.281597 -1.543633  0.630917
5 -1.177526 -0.494019 -0.719121
6  0.462376 -0.411072 -1.876150

In [45]:
df.dropna()

          0         1         2
4 -0.281597 -1.543633  0.630917
5 -1.177526 -0.494019 -0.719121
6  0.462376 -0.411072 -1.876150

In [46]:
df.dropna(thresh=2)

          0         1         2
2 -0.658380       NaN -0.040311
3 -0.353601       NaN -0.081661
4 -0.281597 -1.543633  0.630917
5 -1.177526 -0.494019 -0.719121
6  0.462376 -0.411072 -1.876150

### 7.1.2 欠損値を穴埋めする

In [47]:
df.fillna(0)

          0         1         2
0 -1.100212  0.000000  0.000000
1 -0.804338  0.000000  0.000000
2 -0.658380  0.000000 -0.040311
3 -0.353601  0.000000 -0.081661
4 -0.281597 -1.543633  0.630917
5 -1.177526 -0.494019 -0.719121
6  0.462376 -0.411072 -1.876150

In [48]:
df.fillna({1: 0.5, 2: 0})

          0         1         2
0 -1.100212  0.500000  0.000000
1 -0.804338  0.500000  0.000000
2 -0.658380  0.500000 -0.040311
3 -0.353601  0.500000 -0.081661
4 -0.281597 -1.543633  0.630917
5 -1.177526 -0.494019 -0.719121
6  0.462376 -0.411072 -1.876150

In [49]:
_ = df.fillna(0, inplace=True)

In [50]:
df

          0         1         2
0 -1.100212  0.000000  0.000000
1 -0.804338  0.000000  0.000000
2 -0.658380  0.000000 -0.040311
3 -0.353601  0.000000 -0.081661
4 -0.281597 -1.543633  0.630917
5 -1.177526 -0.494019 -0.719121
6  0.462376 -0.411072 -1.876150

In [54]:
df = pd.DataFrame(np.random.randn(6, 3))

In [55]:
df.iloc[2:, 1] = NA

In [56]:
df.iloc[4:, 2] = NA

In [57]:
df

          0         1         2
0 -0.565684 -1.582879 -0.263306
1  1.076522  0.534925 -1.738060
2  0.167264       NaN  1.191021
3 -1.479241       NaN  0.593104
4  0.771311       NaN       NaN
5  1.289665       NaN       NaN

In [58]:
df.fillna(method="ffill")

          0         1         2
0 -0.565684 -1.582879 -0.263306
1  1.076522  0.534925 -1.738060
2  0.167264  0.534925  1.191021
3 -1.479241  0.534925  0.593104
4  0.771311  0.534925  0.593104
5  1.289665  0.534925  0.593104

In [59]:
df.fillna(method="ffill", limit=2)

          0         1         2
0 -0.565684 -1.582879 -0.263306
1  1.076522  0.534925 -1.738060
2  0.167264  0.534925  1.191021
3 -1.479241  0.534925  0.593104
4  0.771311       NaN  0.593104
5  1.289665       NaN  0.593104

In [60]:
data = pd.Series([1., NA, 3.5, NA, 7])

In [61]:
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

## 7.2 データの変形

### 7.2.1 重複の除去

In [65]:
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
                                       "k2": [1, 1, 2, 3, 3, 4, 4]})

In [66]:
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [67]:
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [68]:
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [69]:
data["v1"] = range(7)

In [70]:
###
data

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
6  two   4   6

In [71]:
data.drop_duplicates(["k1"])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [72]:
data.drop_duplicates(["k1", "k2"], keep="last")

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### 7.2.2 関数やマッピングを用いたデータの変換

In [81]:
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
                                                       "Pastrami", "corned beef", "Bacon",
                                                       "pastrami", "honey ham", "nova lox"],
                                        "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})

In [82]:
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [83]:
meat_to_animal = {
    "bacon": "pig",
    "pulled pork": "pig",
    "pastrami": "cow",
    "corned beef": "cow",
    "honey ham": "pig",
    "nova lox": "salmon"
}

In [84]:
lowercased = data["food"].str.lower()

In [85]:
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [86]:
data["animal"] = lowercased.map(meat_to_animal)

In [87]:
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [88]:
data["food"].map(lambda x: meat_to_animal[x.lower()])

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### 7.2.3 値の置き換え

In [89]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])

In [90]:
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [91]:
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [92]:
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [93]:
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [94]:
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### 7.2.4 軸のインデックスの名前を変更する

In [3]:
data = pd.DataFrame(np.arange(12).reshape(3, 4),
                                      index=["Ohio", "Corolado", "New York"],
                                      columns=["one", "two", "three", "four"] )

In [4]:
transform = lambda x: x[:4].upper()

In [5]:
data.index.map(transform)

Index(['OHIO', 'CORO', 'NEW '], dtype='object')

In [6]:
data.index = data.index.map(transform)

In [8]:
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Coro    4    5      6     7
New     8    9     10    11

In [10]:
data.rename(index={"OHIO": "INDIANA"},
                        columns={"three": "peekaboo"})

         one  two  peekaboo  four
INDIANA    0    1         2     3
CORO       4    5         6     7
NEW        8    9        10    11

In [11]:
data.rename(index={"OHIO": "INDIANA"}, inplace=True)

In [12]:
data

         one  two  three  four
INDIANA    0    1      2     3
CORO       4    5      6     7
NEW        8    9     10    11

### 7.2.5 離散化とビニング

In [13]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [14]:
bins = [18, 25, 35, 60, 100]

In [15]:
cats = pd.cut(ages, bins)

In [16]:
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [17]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [18]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]],
              closed='right',
              dtype='interval[int64]')

In [19]:
pd.value_counts(cats)

(18, 25]     5
(35, 60]     3
(25, 35]     3
(60, 100]    1
dtype: int64

In [21]:
pd.cut(ages, [18, 26, 36, 61, 100], right=False)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [22]:
group_names = ["Youth", "YoungAdult", "MiddleAged", "Senior"]

In [23]:
pd.cut(ages, bins, labels=group_names)

[Youth, Youth, Youth, YoungAdult, Youth, ..., YoungAdult, Senior, MiddleAged, MiddleAged, YoungAdult]
Length: 12
Categories (4, object): [Youth < YoungAdult < MiddleAged < Senior]

In [24]:
data = np.random.rand(20)

In [25]:
pd.cut(data, 4, precision=2)

[(0.78, 0.99], (0.16, 0.37], (0.57, 0.78], (0.37, 0.57], (0.57, 0.78], ..., (0.78, 0.99], (0.37, 0.57], (0.37, 0.57], (0.16, 0.37], (0.78, 0.99]]
Length: 20
Categories (4, interval[float64]): [(0.16, 0.37] < (0.37, 0.57] < (0.57, 0.78] < (0.78, 0.99]]

In [26]:
data = np.random.randn(1000)

In [27]:
cats = pd.qcut(data, 4)

In [28]:
cats

[(0.68, 3.411], (0.0517, 0.68], (0.0517, 0.68], (-0.683, 0.0517], (-2.916, -0.683], ..., (0.0517, 0.68], (0.0517, 0.68], (-2.916, -0.683], (-0.683, 0.0517], (0.68, 3.411]]
Length: 1000
Categories (4, interval[float64]): [(-2.916, -0.683] < (-0.683, 0.0517] < (0.0517, 0.68] < (0.68, 3.411]]

In [29]:
pd.value_counts(cats)

(0.68, 3.411]       250
(0.0517, 0.68]      250
(-0.683, 0.0517]    250
(-2.916, -0.683]    250
dtype: int64

In [30]:
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])

[(0.0517, 1.294], (0.0517, 1.294], (0.0517, 1.294], (-1.25, 0.0517], (-1.25, 0.0517], ..., (0.0517, 1.294], (0.0517, 1.294], (-1.25, 0.0517], (-1.25, 0.0517], (1.294, 3.411]]
Length: 1000
Categories (4, interval[float64]): [(-2.916, -1.25] < (-1.25, 0.0517] < (0.0517, 1.294] < (1.294, 3.411]]

### 7.2.6 外れ値の検出と除去

In [31]:
data = pd.DataFrame(np.random.randn(1000, 4))

In [32]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.000900     0.021115     0.013577    -0.023177
std       0.982732     0.952344     0.967979     0.963838
min      -3.484317    -2.807498    -3.209624    -2.845168
25%      -0.704146    -0.633125    -0.678704    -0.647501
50%       0.036740     0.028638     0.000454    -0.018577
75%       0.703051     0.649049     0.719812     0.600919
max       3.273660     3.289518     2.942784     2.764374

In [33]:
col = data[2]

In [34]:
col[np.abs(col) > 3]

667   -3.209624
Name: 2, dtype: float64

In [35]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
33  -3.282414  0.544409 -0.408461 -0.036788
152  3.273660 -1.032979 -1.949390 -0.009634
256  0.485047  3.060802  0.110765 -1.398473
487 -3.484317  0.613178  1.583215  0.932530
560  3.080304  0.694169 -0.607845 -1.546155
599  0.051888  3.289518  0.293637  1.090677
667 -1.706696 -0.518096 -3.209624 -0.377630

In [37]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [38]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.001312     0.020764     0.013787    -0.023177
std       0.979099     0.951201     0.967303     0.963838
min      -3.000000    -2.807498    -3.000000    -2.845168
25%      -0.704146    -0.633125    -0.678704    -0.647501
50%       0.036740     0.028638     0.000454    -0.018577
75%       0.703051     0.649049     0.719812     0.600919
max       3.000000     3.000000     2.942784     2.764374

In [39]:
np.sign(data).head()

     0    1    2    3
0 -1.0 -1.0  1.0 -1.0
1 -1.0  1.0  1.0 -1.0
2 -1.0 -1.0  1.0  1.0
3  1.0 -1.0 -1.0  1.0
4  1.0  1.0 -1.0 -1.0

### 7.2.7 順列（ランダムな並べ替え）やランダムサンプリング

In [40]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))

In [43]:
sampler = np.random.permutation(5)

In [44]:
sampler

array([4, 0, 3, 1, 2])

In [45]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [46]:
df.take(sampler)

    0   1   2   3
4  16  17  18  19
0   0   1   2   3
3  12  13  14  15
1   4   5   6   7
2   8   9  10  11

In [47]:
df.sample(n=3)

    0   1   2   3
3  12  13  14  15
1   4   5   6   7
0   0   1   2   3

In [48]:
choices = pd.Series([5, 7, -1, 6, 4])

In [49]:
draws = choices.sample(n=10, replace=True)

In [51]:
draws

0    5
3    6
2   -1
3    6
3    6
2   -1
0    5
4    4
2   -1
1    7
dtype: int64

### 7.2.8 標識変数やダミー変数の計算

In [54]:
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                                   "data1": range(6)})

In [55]:
pd.get_dummies(df["key"])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [56]:
dummies = pd.get_dummies(df["key"], prefix="key")

In [57]:
df_with_dummy = df[["data1"]].join(dummies)

In [58]:
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [59]:
mnames = ["movie_id", "title", "genres"]

In [62]:
movies = pd.read_table("../datasets/movies.dat", sep="::",
                                           header=None, names=mnames)

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead.

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [65]:
movies = pd.read_csv("../datasets/movies.dat", sep="::",
                                           header=None, names=mnames, engine="python")

In [66]:
movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [67]:
all_genres = []

In [68]:
for x in movies.genres:
    all_genres.extend(x.split("|"))

In [69]:
genres = pd.unique(all_genres)

In [70]:
genres

array(['Animation', "Children's", 'Comedy', 'Adventure', 'Fantasy',
       'Romance', 'Drama', 'Action', 'Crime', 'Thriller', 'Horror',
       'Sci-Fi', 'Documentary', 'War', 'Musical', 'Mystery', 'Film-Noir',
       'Western'], dtype=object)

In [73]:
zero_matrix = np.zeros((len(movies), len(genres)))

In [74]:
dummies = pd.DataFrame(zero_matrix, columns=genres)

In [76]:
###
dummies

,Animation,Children's,Comedy,Adventure,Fantasy,Romance,Drama,Action,Crime,Thriller,Horror,Sci-Fi,Documentary,War,Musical,Mystery,Film-Noir,Western
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3861,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3862,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3863,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3864,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3865,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3866,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3868,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3870,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3871,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3873,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3876,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3877,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3879,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
gen = movies.genres[0]

In [78]:
###
gen

"Animation|Children's|Comedy"

In [77]:
gen.split("|")

['Animation', "Children's", 'Comedy']

In [79]:
dummies.columns.get_indexer(gen.split("|"))

array([0, 1, 2])

In [81]:
for i, gen in enumerate(movies.genres):
    indices = dummies.columns.get_indexer(gen.split("|"))
    dummies.iloc[i, indices] = 1

In [83]:
movies_windic = movies.join(dummies.add_prefix("Genre_"))

In [84]:
movies_windic.iloc[0]

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                                1
Genre_Children's                               1
Genre_Comedy                                   1
Genre_Adventure                                0
Genre_Fantasy                                  0
Genre_Romance                                  0
Genre_Drama                                    0
Genre_Action                                   0
Genre_Crime                                    0
Genre_Thriller                                 0
Genre_Horror                                   0
Genre_Sci-Fi                                   0
Genre_Documentary                              0
Genre_War                                      0
Genre_Musical                                  0
Genre_Mystery                                  0
Genre_Film-Noir                                0
Genre_Western                                  0
Name: 0, dtype: object

In [85]:
np.random.seed(12345)

In [86]:
values = np.random.rand(10)

In [87]:
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [88]:
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]

In [89]:
pd.get_dummies(pd.cut(values, bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

## 7.3 文字列操作

### 7.3.1 文字列オブジェクトのメソッド

In [2]:
val = "a, b,   guido"

In [3]:
val.split(",")

['a', ' b', '   guido']

In [4]:
pieces = [x.strip() for x in val.split(",")]

In [5]:
pieces

['a', 'b', 'guido']

In [6]:
first, second, third = pieces

In [7]:
first + "::" + second + "::" + third

'a::b::guido'

In [8]:
"::".join(pieces)

'a::b::guido'

In [9]:
"guido" in val

True

In [10]:
val.index(",")

1

In [11]:
val.find(":")

-1

In [12]:
val.index(":")

ValueError: substring not found

In [13]:
val.count(",")

2

In [14]:
val.replace(",", "::")

'a:: b::   guido'

In [15]:
val.replace(",", "")

'a b   guido'

### 7.3.2 正規表現

In [31]:
text = "foo     bar\t baz  \tqux"

In [32]:
re.split("\s+", text)

['foo', 'bar', 'baz', 'qux']

In [33]:
regex = re.compile("\s+")

In [34]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [35]:
regex.findall(text)

['     ', '\t ', '  \t']

In [3]:
text = """Dave dave@gmail.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@gmail.com
"""

pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}" #2,4の間に半角スペース入れるな！

# re.IGNOREASEフラグにより、正規表現で大文字と小文字を区別しないようにする
regex = re.compile(pattern, flags=re.IGNORECASE)

In [4]:
regex.findall(text)

['dave@gmail.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@gmail.com']

In [5]:
m = regex.search(text)

In [6]:
m

In [7]:
text[m.start():m.end()]

'dave@gmail.com'

In [8]:
print(regex.match(text))

None

In [9]:
print(regex.sub("REDACTED", text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [11]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"

In [12]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [13]:
m = regex.match("wesm@bright.net")

In [15]:
m.groups()

('wesm', 'bright', 'net')

In [16]:
regex.findall(text)

[('dave', 'gmail', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'gmail', 'com')]

In [17]:
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

Dave Username: dave, Domain: gmail, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: gmail, Suffix: com

### 7.3.3 pandasにおける文字列関数のベクトル化

In [18]:
data = {"Dave": "dave@google.com", "Steve": "steve@gmail.com",
              "Rob": "rob@gmail.com", "Wes": np.nan}

In [19]:
data = pd.Series(data)

In [20]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [21]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [22]:
data.str.contains("gmail")

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [23]:
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"

In [24]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [27]:
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]

In [28]:
matches

Dave     (dave, google, com)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Wes                      NaN
dtype: object

In [29]:
matches.str.get(1)

Dave     google
Steve     gmail
Rob       gmail
Wes         NaN
dtype: object

In [30]:
###
matches.str.get(0)

Dave      dave
Steve    steve
Rob        rob
Wes        NaN
dtype: object

In [31]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

In [32]:
data.str.extract(pattern, flags=re.IGNORECASE)

           0       1    2
Dave    dave  google  com
Steve  steve   gmail  com
Rob      rob   gmail  com
Wes      NaN     NaN  NaN